<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.mapper.TUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.api.pojo.TUser">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="xq" property="xq" />
        <result column="js" property="js" />
        <result column="image_url" property="imageUrl" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="sex" property="sex" />
        <result column="birth" property="birth" />
        <result column="created_time" property="createdTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="created_id" property="createdId" />
        <result column="modified_id" property="modifiedId" />
        <result column="num" property="num" />
        <result column="rate" property="rate" />
        <result column="sf" property="sf" />
        <result column="ss" property="ss" />
        <result column="rep" property="rep" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_id, username, password, xq, js, image_url, phone, email, sex, birth, created_time, modified_time, created_id, modified_id, num, rate, sf, ss, rep
    </sql>

</mapper>
